.idea/

web/dist
web/node_modules

# Log files
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*
web/pnpm-debug.log*

server/logs/*.log
server/*.log
.DS_Store
.vscode
*.sw?
gin.log
/latest_log
server/etc/config.yaml
server/gin.log
server/gva.exe
server/server.exe
*.out
